@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 15mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .page-break {
    page-break-before: always;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .print\:px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .print\:p-6 {
    padding: 1.5rem !important;
  }
}
